<!-- log in -->
{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/account/css/style.css" rel="stylesheet" type="text/css" media="all" />
{{/section}}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="border-bottom">
            <div class="form-group" style="margin-left: 30px;">
                <div class="row">
                    <h5 class="modal-title">NHẬP EMAIL</h5>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form action="/mail/forgetpass" method="post">
                <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input type="text" class="form-control" placeholder=" " name="Email" required="">
                </div>
                
                 
                 <div class="right-w3l">
                    <input type="submit" class="form-control" value="Xác Nhận">
                 </div>
            </form>
        </div>
    </div>
</div>