{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/account/css/style.css" rel="stylesheet" type="text/css" media="all" />
{{/section}}


{{#section 'js'}}
<!-- password-script -->
<script>
    window.onload = function () {
        document.getElementById("password").onchange = validatePassword;
        document.getElementById("confirm_password").onchange = validatePassword;
    }


    function validatePassword(event) {
        var pass2 = document.getElementById("confirm_password").value;
        var pass1 = document.getElementById("password").value;
        if (pass1 != pass2) {
            event.preventDefault();
            document.getElementById("warning_password").style.display = "block";
        }
        else
            document.getElementById("warning_password").style.display = "none";
        //empty string means no validation error
    }

</script>
<!-- //password-script -->
{{/section}}






<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="border-bottom">
            <div class="form-group" style="margin-left: 30px;">
                <div class="row">
                    <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
                </div>
                
                <div class="row" style="display: none" id="warning_password">
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Mật khẩu không trùng nhau</h5>
                </div>
                {{!-- <div class="row" style="display: none" id="warning_email">
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Email nhập không đúng</h5>
                </div> --}}
            </div>
        </div>

        <div class="modal-body">
            <form action="/mail/changepassword" method="post" onsubmit="return validatePassword(event)">
               <div class="form-group">
                    <label class="col-form-label">New Username</label>
                    <input type="text" class="form-control" placeholder=" " name="Name" required="" value={{name}}>
                </div>

                <div class="form-group">
                    <label class="col-form-label">New Password</label>
                    <input type="password" class="form-control" placeholder=" " name="Password" id="password"
                        required="" value={{password}}>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder=" " name="Confirm Password"
                        id="confirm_password" required="" value={{password}}>
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="XÁC NHẬN">
                </div>
            </form>
        </div>
    </div>
</div>