{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/account/css/style.css" rel="stylesheet" type="text/css" media="all" />
{{/section}}


{{#section 'js'}}
<!-- password-script -->
<script>
    window.onload = function () {
        document.getElementById("password").onchange = validatePassword;
        document.getElementById("confirm_password").onchange = validatePassword;
        document.getElementById("email").onchange = validatePassword;
    }


    function kiemtraEmailHopLe() {
        var email = document.getElementById("email");
        var filter = /^([\w\.])+@([a-zA-Z0-9\-])+\.([a-zA-Z]{2,4})(\.[a-zA-Z]{2,4})?$/;
        if (!filter.test(email.value)) {
            return false;
        }
        else {
            return true;
        }
    }

    function validatePassword(event) {
        console.log("EMAIL");
        var isCorrectEmail = kiemtraEmailHopLe();
        var pass2 = document.getElementById("confirm_password").value;
        var pass1 = document.getElementById("password").value;
        if (isCorrectEmail == false) {
            event.preventDefault();
            document.getElementById("warning_email").style.display = "block";
        }
        else
        {
            document.getElementById("warning_email").style.display = "none";
        }
        if (pass1 != pass2) {
            event.preventDefault();
            document.getElementById("warning_password").style.display = "block";
        }
        else
            document.getElementById("warning_password").style.display = "none";
        //empty string means no validation error
    }

</script>
<!-- //password-script -->
{{/section}}






<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="border-bottom">
            <div class="form-group" style="margin-left: 30px;">
                <div class="row">
                    <h5 class="modal-title">Register</h5>
                </div>
                <div class="row">
                    {{#if isFailUser}}
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Tên đăng nhập đã tồn tại</h5>
                    {{/if}}
                </div>
               <div class="row">
                    {{#if isFailEmail}}
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Email đã được sử dụng cho tài khoản khác</h5>
                    {{/if}}
                </div>
                 <div class="row">
                    {{#if notExistEmail}}
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Email không tồn tại</h5>
                    {{/if}}
                </div>
                <div class="row" style="display: none" id="warning_password">
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Mật khẩu không trùng nhau</h5>
                </div>
                <div class="row" style="display: none" id="warning_email">
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Email không chính xác</h5>
                </div>
                {{!-- <div class="row" style="display: none" id="warning_email">
                    <h5 class="text-danger"><i class="fa fa-warning"></i> Email nhập không đúng</h5>
                </div> --}}
            </div>
        </div>

        <div class="modal-body">
            <form action="/users/register" method="post" onsubmit="return validatePassword(event)">
                <div class="form-group">
                    <label class="col-form-label">Your Name</label>
                    <input type="text" class="form-control" placeholder=" " name="Name" required="" value={{name}}>
                </div>


                <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input type="text" class="form-control" placeholder=" " name="Email" required="" id="email"
                        value={{email}}>
                </div>


                <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <input type="password" class="form-control" placeholder=" " name="Password" id="password"
                        required="" value={{password}}>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder=" " name="Confirm Password"
                        id="confirm_password" required="" value={{password}}>
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Register">
                </div>
                <div class="sub-w3l">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                        <label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms &
                            Conditions</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>